<html>
    <head>
        <title>Handle POST requests with Flask</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css' }}">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap/css/bootstrap.min.css' }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/font-awesome/css/font-awesome.min.css'}}">
        <link rel="stylesheet" href="{{ url_for('static',filename='/css/form-elements.css'}}">
        <link rel="stylesheet" href="{{{url_for('static',filename='/css/style.css'}}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>POST request with Flask</h1>
            </div>
            <div class="form-bottom" id="content" class="registration-form">
                <form method="post" action="{{ url_for('hello') }}">
                  <label for="yourname">Enter Document -1:</label>
                  <textarea type="text" name="document1"  class="form-first-name form-control" /></textarea>
                  <label for="yourname">Enter Document -2:</label>
                  <textarea type="text" name="document2" class="form-first-name form-control" /></textarea>
                  <input type="submit" />
                </form>
            </div>
            <div class="title">
                <h1>Flask code</h1>
            </div>
                <code><pre>
@app.route('/')
def form():
    return render_template('form_submit.html')
                </pre></code>
            </div>
        </div>
    </body>
</html>
 